$odileeds-colour-c4: hsl(187, 95%, 50%);
$odileeds-colour-c7: hsl(120, 73%, 65%);
$odileeds-colour-c10: hsl(323, 85%, 58%);

$odileeds-colour-b5: hsl(0, 0%, 87%);

$odileeds-font-stack: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$odileeds-font-size: 16px;