@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);

$popover-width: 80%;
$mumsnet-brand-colour: hsl(204, 100%, 32%);
$teacher-tapp-brand-colour: hsl(164, 76%, 47%);

body {
  font-family: 'Roboto Slab', serif;
}

.container {
  position: relative;
  svg {
    width: 10em;
  }
  .popover {
    position: absolute;
    background: white;
    border: 1px solid grey;
    border-radius: 0.5em;
    top: 10%;
    width: $popover-width;
    left: 50%;
    margin-left: $popover-width / -2;
  }
}

.mumsnet {
  svg {
    circle {
      fill: $mumsnet-brand-colour;
    }
  }
}

.teachertapp {
  svg {
    rect {
      fill: $teacher-tapp-brand-colour;
    }
  }
}