@import 'reset',
        'odileeds';

$popover-size: 80%;

$mumsnet-brand-colour: hsl(204, 100%, 32%);
$teacher-tapp-brand-colour: hsl(164, 76%, 47%);
$barnardos-brand-colour: hsl(81, 100%, 32%);

%standard-font {
  font-family: $odileeds-font-stack;
  font-size: $odileeds-font-size;
  line-height: 1.2;
}

%spaced-text {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

%content-block {
  margin-top: 100px;
}

h1 {
  @extend %spaced-text;
  font-size: 1.5em;
}

h2 {
  @extend %spaced-text;
  font-size: 1.2em;
  font-weight: bold;
}

h3 {
  @extend %spaced-text;
  font-size: 1.1em;
  font-weight: bold;
}

input, select {
  @extend %standard-font;
}

body {
  @extend %standard-font;
  > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $odileeds-colour-c10;
    box-shadow: 0 0 5px 1px hsla(0, 0%, 65%, 95%);
    padding: 1rem;
    z-index: 100;
  }
  > aside {
    @extend %content-block;
    position: fixed;
    font-size: 0.9em;
    top: 0;
    padding: 0 1em;
    left: -2px;
    box-sizing: content-box;
    height: 100%;
    width: 18rem;
  }
}

[role=main] {
  @extend %content-block;
  margin-left: 22rem;
  max-width: 50em;
}

.container {
  position: relative;
  svg {
    width: 5em;
  }
  .popover {
    position: absolute;
    background: white;
    border: 1px solid grey;
    border-radius: 0.5em;
    top: 50%;
    width: $popover-size;
    height: $popover-size;
    left: 50%;
    margin-left: $popover-size / -2;
    margin-top: $popover-size / -2;
  }
}

.mumsnet {
  svg {
    circle {
      fill: $mumsnet-brand-colour;
    }
  }
  .selected {
    background-color: change-color($mumsnet-brand-colour, $lightness: 75%);
  }
}

.teachertapp {
  .selector {
    display: flex;
    margin: 0.5em 0;
    svg {
      padding: 0 0.5em;
    }
  }
  label {
    display: block;
    width: 10em;
  }
  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .response {
    width: 10em;
    padding-bottom: 1em;
    padding-right: 1em;
    p {
      font-size: 0.7em;
      margin: 0;
    }
  }
  svg {
    .filled {
      fill: $teacher-tapp-brand-colour;
      stroke: $teacher-tapp-brand-colour;
    }
    .baseline {
      fill: adjust-hue($teacher-tapp-brand-colour, 120deg);
    }
  }
}