@import url(https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap);

$popover-size: 80%;
$mumsnet-brand-colour: hsl(204, 100%, 32%);
$teacher-tapp-brand-colour: hsl(164, 76%, 47%);
$barnardos-brand-colour: hsl(81, 100%, 32%);

body {
  font-family: 'Roboto Slab', serif;
}

article {
  margin: 0 auto;
  max-width: 50em;
}

.container {
  position: relative;
  svg {
    width: 5em;
  }
  .popover {
    position: absolute;
    background: white;
    border: 1px solid grey;
    border-radius: 0.5em;
    top: 50%;
    width: $popover-size;
    height: $popover-size;
    left: 50%;
    margin-left: $popover-size / -2;
    margin-top: $popover-size / -2;
  }
}

.mumsnet {
  svg {
    circle {
      fill: $mumsnet-brand-colour;
    }
  }
  .selected {
    background-color: change-color($mumsnet-brand-colour, $lightness: 75%);
  }
}

.teachertapp {
  svg {
    rect {
      fill: $teacher-tapp-brand-colour;
      &.baseline {
        stroke: complement($teacher-tapp-brand-colour);
      }
    }
  }
}